*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /* el 62.5% es para manejar el valor de tamaño REM 
    por ejemplo: p { font-size: 1.6 rem (16 px) } */
}

:root{
    --secondary-color: #C7C7C7; 
    --main-color: #caacd9;
    --dark-main: #6c0076;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html, body{
    min-height: 100%;
    font-family: 'Quicksand', sans-serif;
}

/* !!!!!!!!!!!!! */
/* NAVBAR */
/* !!!!!!!!!!!!! */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--secondary-color);
}


.brand-name{
    font-size: var(--lg);
    display: flex;
    align-self: center;
    margin-right: 4px;
}

.navbar-left{
    display: flex;
    margin-left: 12px;
}

 .navbar-left ul{ 
    margin-left: 12px; 
}

.navbar-right{
    display: flex;
}

.navbar-left ul, .navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 8vh;
}

.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    font-size: var(--sm);
}


.nav-email{
    color: var(--secondary-color);
    font-size: var(--sm);
    margin-right: 12px;
}

.nav-cart{
    position: relative;
}

.nav-cart .product-number{
    width: 15px;
    height: 15px;
    background-color: var(--dark-main);
    color: var(--white);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !!!!!!!!!!!!! */
/* CONTAINEER */
/* !!!!!!!!!!!!! */

.container .search-bar{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.search-bar input[type=text]{
    height: 38px;
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid var(--main-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, form button:focus {
    border: 3px solid var(--dark-main);
}

.search-bar button{
    width: 46px;
    height: 38px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid var(--main-color);
    background-color: var(--white);
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    justify-content: center;
    padding-bottom: 2.5rem;
    margin-top: 15px;
}


.modal-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}



.phone-card .open-btn{
    background-color: var(--main-color);
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    color: var(--black);
    font-size: var(--lg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    margin-bottom: 3px;
}


.modal{
    background-color: var(--white);
    width: 300px;
    max-width: 400px;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: var(--sm);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1{
    margin: 0 0 10px 0;
}

.modal p{
    opacity: .7;
}

.modal .close-btn{
    background-color: var(--dark-main);
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    color: var(--white);
    font-size: var(--md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.phone-card{
    width: 240px;
}

.phone-card img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.phone-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0 0;
}

.phone-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin: 0 0 4px 0;
}

.phone-info div p:nth-child(2){
    font-size: var(--sm);
    margin: 0 0 0 0;
    color: var(--main-color);
}

.phone-info button{
    width: 75px;
    padding: 5px 5px;
    display: flex;
    align-self: flex-end;
    background-color: var(--dark-main);
    color: var(--white);
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

footer{
    background-color: var(--dark-main);
    display: grid;
    justify-content: center;
    padding: 10px;
}

.left-footer{
    grid-template-columns: 1 / 2;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.left-footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.left-footer ul li{
    text-decoration: none;
    padding: 8px;
}

.left-footer ul li a{
    text-decoration: none;
}

.left-footer .fa{
    font-size: 3.0rem;
    color: var(--white);
    margin-bottom: 5px;
}

.subtitle{
    display: flex;
    align-self: center;
    color: var(--main-color);
    font-size: var(--lg);
    margin-bottom: 15px;
}

.center-footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.center-footer .mapouter{
    display: flex;
    justify-content: center;
}

.right-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.right-footer .subtitle-mini{
    align-self: center;
    color: var(--white);
    font-size: var(--md);
}

@media (max-width: 640px){

    .navbar-left ul{
        padding: 0 24px;
        font-size: 3.5rem;
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--black);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height: 27vh;
    }

    .navbar-left ul li a{
        transition: 0.7s ease;
        margin: 10px 0;
        border: none;
        color: var(--white)
    }

    .navbar-left ul li a:hover{
        text-decoration: underline;
    }

    .hamburguer{
        display: block;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .navbar-left .user-email{
        color: var(--main-color);
    }

    .navbar-left ul.active{
        left: 0;
    }

    .nav-email{
        display: none;
    }

    .brand-name{
        margin-right: 10px;
    }
}

@media (min-width: 641px){ 

    .navbar-left .user-email{
        display: none;
    }

    .navbar-left ul li a:hover, .navbar-right ul li a:hover{
        border: 1px solid var(--dark-main);
        color: var(--main-color);
    } 

    .hamburguer{
        display: none;
    }

    footer{
        grid-template-columns: repeat(2, 1fr);
    }

    .left-footer{
        justify-content: start;
    }

    .right-footer{
        padding-bottom: 10px;
    }
}

@media (min-width: 870px){
    
    footer{
        grid-template-columns: repeat(3, 1fr);
    }

    .right-footer{
        justify-content: start;
    }
}

@media (min-width: 1280px){

    /* .container{
        height: 100vh;
    } */
    
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 20px;
    }

    
}
